NEXT_PUBLIC_BASE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_API_URL=http://127.0.0.1:3000/api

NODE_ENV="development"

# Logger configuration
# 0 = DEBUG, 1 = INFO, 2 = WARN, 3 = ERROR, 4 = FATAL, 5 = OFF
LOG_LEVEL=0